body {

background-color: black;
color:white;

}

@font-face {
font-family: 'Agrandir Grand Heavy';
src: url('https://recklist.com/fonts/agrandir-grandheavy.otf') format('no404'), url('https://recklist.com/fonts/agrandir-grandheavy.otf') format('otf'), url('https://recklist.com/fonts/agrandir-grandheavy-webfont.woff') format('woff');
}
@font-face {
font-family: 'Agrandir Grand Heavy';
src: url('agrandir-grandheavy.otf');
}

@font-face {
font-family: 'Agrandir Grand Light';
src: url('https://recklist.com/fonts/agrandir-grandlight.otf') format('no404'), url('https://recklist.com/fonts/agrandir-grandlight.otf') format('otf'), url('https://recklist.com/fonts/agrandir-grandlight-webfont.woff') format('woff');
}
@font-face {
font-family: 'Agrandir Grand Light';
src: url('agrandir-grandlight.otf');
}


.header{


    margin-bottom: 64px;
    font-size: 84pt;
    font-family: 'Agrandir Grand Heavy';
    display: flex;

  }


.menu{
  opacity: 100%;
  font-family: 'Agrandir Grand Light';
  font-size: 15pt;
  width:20%;

}
.menu a:hover{
    opacity:0.5;
    transition: 1s;
    text-decoration: underline;

  }

.websitename{
 width:60%;
 text-align: center;
 margin-left: -1%;
  }

.emptyspace{
  width:20%;

}

.list{
  font-family: 'Agrandir Grand Heavy';
  font-size: 34pt;
  color:white;
  margin-bottom: 120px;
}

#person {
  text-align: center;
}

#person:hover{
  text-decoration: underline;
}

a{
  color:white;
  text-decoration: none;
}

a:visited{
  color:white;
}

#left img{
  height:250px;
  width:250px;
  display:none;
}

#left:hover img{
  display:flex;
  position: absolute;
  margin-left: 12%;
  z-index: -100;
}

#right img{
  height:250px;
  width:250px;
  display:none;
}

#right:hover img{
  display:flex;
  position: absolute;
  margin-left: 70%;
  z-index: -100;
}

#james img{
  height:250px;
  width:250px;
  display:none;
}

#james:hover img{
  display:flex;
  position: absolute;
  margin-left: 12%;
  margin-top: -12%;
  z-index: -100;
}

#susan img{
  height:250px;
  width:250px;
  display:none;
}

#susan:hover img{
  display:flex;
  position: absolute;
  margin-left: 70%;
  margin-top: -12%;
  z-index: -100;
}

#julian img{
  height:250px;
  width:250px;
  display:none;
}

#julian:hover img{
  display:flex;
  position: absolute;
  margin-left: 12%;
  margin-top: -12%;
  z-index: -100;
}

#sundai img{
  height:250px;
  width:250px;
  display:none;
}

#sundai:hover img{
  display:flex;
  position: absolute;
  margin-left: 70%;
  margin-top: -12%;
  z-index: -100;
}

#ariana img{
  height:250px;
  width:250px;
  display:none;
}

#ariana:hover img{
  display:flex;
  position: absolute;
  margin-left: 70%;
  margin-top: -12%;
  z-index: -100;
}

#jordan img{
  height:250px;
  width:250px;
  display:none;
}

#jordan:hover img{
  display:flex;
  position: absolute;
  margin-left: 12%;
  margin-top: -12%;
  z-index: -100;
}

#lemon img{
  height:250px;
  width:250px;
  display:none;
}

#lemon:hover img{
  display:flex;
  position: absolute;
  margin-left: 12%;
  margin-top: -12%;
  z-index: -100;
}

#amara img{
  height:250px;
  width:250px;
  display:none;
}

#amara:hover img{
  display:flex;
  position: absolute;
  margin-left: 70%;
  margin-top: -12%;
  z-index: -100;
}

#shahid img{
  height:250px;
  width:250px;
  display:none;
}

#shahid:hover img{
  display:flex;
  position: absolute;
  margin-left: 12%;
  margin-top: -12%;
  z-index: -100;
}

#neil img{
  height:250px;
  width:250px;
  display:none;
}

#neil:hover img{
  display:flex;
  position: absolute;
  margin-left: 70%;
  margin-top: -12%;
  z-index: -100;
}

#noelle img{
  height:250px;
  width:250px;
  display:none;
}

#noelle:hover img{
  display:flex;
  position: absolute;
  margin-left: 12%;
  margin-top: -12%;
  z-index: -100;
}

#james img{
  height:250px;
  width:250px;
  display:none;
}

#james:hover img{
  display:flex;
  position: absolute;
  margin-left: 70%;
  margin-top: -12%;
  z-index: -100;
}

#olivia img{
  height:250px;
  width:250px;
  display:none;
}

#olivia:hover img{
  display:flex;
  position: absolute;
  margin-left: 12%;
  margin-top: -12%;
  z-index: -100;
}


.description{
  font-family: 'Agrandir Grand Light';
  font-size: 34pt;
  text-align:center;
  width:100%;
}

.descriptiontext{
  margin-left:50%;
  margin: auto;
  text-align: left;
  width:50%;
}

.footer{
  font-family: 'Agrandir Grand Light';
  font-size: 10pt;
  opacity: 0.5;
  margin-left: 50%;
  margin-left: auto;
  margin-top: 35%;
  margin-bottom: 1.5%;
}
