body {

background-color: black;
color:white;

}


.header{


    margin-bottom: 64px;
    font-size: 84pt;
    font-family: 'Agrandir Grand Heavy';
    display: flex;

  }


.menu{
  opacity: 100%;
  font-family: 'Agrandir Grand Light';
  font-size: 15pt;
  width:0%;

}
.menu a:hover{
    opacity:0.5;
    transition: 1s;
    text-decoration: underline;

  }

  .websitename{
 width:100%;
 text-align: center;
  }

.list{
  font-family: 'Agrandir Grand Heavy';
  font-size: 34pt;
  color:white;
  margin-bottom: 120px;
}

#person {
  text-align: center;
}

#person:hover{
  text-decoration: underline;
}

a{
  color:white;
  text-decoration: none;
}

a:visited{
  color:white;
}

#left img{
  height:250px;
  width:250px;
  display:none;
}

#left:hover img{
  display:flex;
  position: absolute;
  margin-left: 12%;
  z-index: -100;
}

#right img{
  height:250px;
  width:250px;
  display:none;
}

#right:hover img{
  display:flex;
  position: absolute;
  margin-left: 70%;
  z-index: -100;
}

#julie img{
  height:250px;
  width:250px;
  display:none;
}

#julie:hover img{
  display:flex;
  position: absolute;
  margin-left: 70%;
  margin-top: -12%;
  z-index: -100;
}

#james img{
  height:250px;
  width:250px;
  display:none;
}

#james:hover img{
  display:flex;
  position: absolute;
  margin-left: 12%;
  margin-top: -12%;
  z-index: -100;
}

#susan img{
  height:250px;
  width:250px;
  display:none;
}

#susan:hover img{
  display:flex;
  position: absolute;
  margin-left: 70%;
  margin-top: -12%;
  z-index: -100;
}

#josh img{
  height:250px;
  width:250px;
  display:none;
}

#josh:hover img{
  display:flex;
  position: absolute;
  margin-left: 12%;
  margin-top: -12%;
  z-index: -100;
}

#erika img{
  height:250px;
  width:250px;
  display:none;
}

#erika:hover img{
  display:flex;
  position: absolute;
  margin-left: 70%;
  margin-top: -12%;
  z-index: -100;
}

#joe img{
  height:250px;
  width:250px;
  display:none;
}

#joe:hover img{
  display:flex;
  position: absolute;
  margin-left: 12%;
  margin-top: -12%;
  z-index: -100;
}
