body {

background-color: black;
color:white;

}

@font-face {
font-family: 'Agrandir Grand Heavy';
src: url(//:) format('no404'), url('https://recklist.com/fonts/agrandir-grandheavy.otf') format('otf'), url('https://recklist.com/fonts/agrandir-grandheavy-webfont.woff') format('woff');
}
@font-face {
font-family: 'Agrandir Grand Heavy';
src: url('agrandir-grandheavy.otf');
}

@font-face {
font-family: 'Agrandir Grand Light';
src: url(//:) format('no404'), url('https://recklist.com/fonts/agrandir-grandlight.otf') format('otf'), url('https://recklist.com/fonts/agrandir-grandlight-webfont.woff') format('woff');
}
@font-face {
font-family: 'Agrandir Grand Light';
src: url('agrandir-grandlight.otf');
}


.header{


    margin-bottom: 64px;
    font-size: 84pt;
    font-family: 'Agrandir Grand Heavy';
    display: flex;

  }


.menu{
  opacity: 100%;
  font-family: 'Agrandir Grand Light';
  font-size: 15pt;
  width:0%;

}
.menu a:hover{
    opacity:0.5;
    transition: 1s;
    text-decoration: underline;

  }

  .websitename{
 width:100%;
 text-align: center;
  }

.list{
  font-family: 'Agrandir Grand Heavy';
  font-size: 34pt;
  color:white;
  margin-bottom: 120px;
}

#person {
  text-align: center;
}

#person:hover{
  text-decoration: underline;
}

a{
  color:white;
  text-decoration: none;
}

a:visited{
  color:white;
}

#left img{
  height:250px;
  width:250px;
  display:none;
}

#left:hover img{
  display:flex;
  position: absolute;
  margin-left: 12%;
  z-index: -100;
}

#right img{
  height:250px;
  width:250px;
  display:none;
}

#right:hover img{
  display:flex;
  position: absolute;
  margin-left: 70%;
  z-index: -100;
}

#julie img{
  height:250px;
  width:250px;
  display:none;
}

#julie:hover img{
  display:flex;
  position: absolute;
  margin-left: 70%;
  margin-top: -12%;
  z-index: -100;
}

#james img{
  height:250px;
  width:250px;
  display:none;
}

#james:hover img{
  display:flex;
  position: absolute;
  margin-left: 12%;
  margin-top: -12%;
  z-index: -100;
}

#susan img{
  height:250px;
  width:250px;
  display:none;
}

#susan:hover img{
  display:flex;
  position: absolute;
  margin-left: 70%;
  margin-top: -12%;
  z-index: -100;
}

#josh img{
  height:250px;
  width:250px;
  display:none;
}

#josh:hover img{
  display:flex;
  position: absolute;
  margin-left: 12%;
  margin-top: -12%;
  z-index: -100;
}

#erika img{
  height:250px;
  width:250px;
  display:none;
}

#erika:hover img{
  display:flex;
  position: absolute;
  margin-left: 70%;
  margin-top: -12%;
  z-index: -100;
}

#joe img{
  height:250px;
  width:250px;
  display:none;
}

#joe:hover img{
  display:flex;
  position: absolute;
  margin-left: 12%;
  margin-top: -12%;
  z-index: -100;
}

.description{
  font-family: 'Agrandir Grand Light';
  font-size: 34pt;
  text-align:center;
  width:100%;
}

.descriptiontext{
  margin-left:50%;
  margin: auto;
  text-align: left;
  width:50%;
}

.footer{
  font-family: 'Agrandir Grand Light';
  font-size: 10pt;
  opacity: 0.5;
  margin-left: 50%;
  margin-left: auto;
  margin-top: 35%;
  margin-bottom: 1.5%;
}
