.header{


    margin-bottom: 64px;
    font-size: 84pt;
    font-family: 'Agrandir Grand Heavy';
    display: flex;

  }

  .header a{
    text-decoration: none;
    color:white;
  }

  .header a:visited{
    color:white;
    text-decoration: none;
  }

  .menu{
    opacity: 100%;
    font-family: 'Agrandir Grand Light';
    font-size: 15pt;
    width:0%;

  }
  .menu a:hover{
      opacity:0.5;
      transition: 1s;
      text-decoration: underline;

    }

  .websitename{
 width:100%;
 text-align: center;
  }


body{
  background-color: black;
  color:white;
}


.introsection{
  margin-top: 268px;
  margin-bottom: 160px;
  margin-right: 150px;
  margin-left: 120px;
  width:95%;
  display:flex;
  height:896px;
  align-content: center;
}

.photographs{
 z-index: -1;
 margin-left: 150px;
 display: flex;
}

.photographs img{
  width:500px;
  height:896px;
  margin-right: 20px;
}

.names{
  text-align: right;
  font-family: 'Agrandir Grand Heavy';
  font-size: 64pt;
  margin-right: 120px;
  margin-top: 448px;
  z-index: 100;
  margin-left: -150px;
}

.listsection{
  display: flex;
}

.section{
  text-align: left;
  font-family: 'adrianna-extended';
  font-style: sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 23pt;
  margin-right: 144px;
  margin-left: 40px;
  width: 10%;
}

#kanyebooks{
  margin-right: 6%;
}

#kanyebooklist{
  width:64%;
}

.list{
  font-family: 'Agrandir Grand Light';
  font-size: 30pt;
  margin-bottom: 136px;
  text-align: left;
  width:65%;
}

.list li{
  margin-bottom: 20px;
}

.list a{
  color:white;
  text-decoration: none;
}

.list a:visted{
  color:white;
}

.list a:hover{
  font-family: 'Agrandir Grand Heavy';
  font-size: 28pt;
}
