.header{


    margin-bottom: 64px;
    font-size: 84pt;
    font-family: 'Agrandir Grand Heavy';
    display: flex;

  }

  .header a{
    text-decoration: none;
    color:white;
  }

  .header a:visited{
    color:white;
    text-decoration: none;
  }

  .menu{
    opacity: 100%;
    font-family: 'Agrandir Grand Light';
    font-size: 15pt;
    width:0%;

  }
  .menu a:hover{
      opacity:0.5;
      transition: 1s;
      text-decoration: underline;

    }

.websitename{
 width:100%;
 text-align: center;
  }


body{
  background-color: black;
  color:white;
}


.introsection{
  margin-top: 268px;
  margin-bottom: 160px;
  margin-left: 120px;
  display:flex;
  height:896px;
  height:auto;
  align-content: center;
}

.photographs{
 z-index: -100;
 margin-left: 150px;
 display:flex;
 width: 100%;
}

.photographs img{
  width:100%;
  height: auto;
  display:flex;
}

#img1{
  margin-right: 3%;
}


.names{
  font-family: 'Agrandir Grand Heavy';
  font-size: 64pt;
  margin-top: 448px;
  margin-left: -150px;
  display:flex;
  text-align: left;
  width: 100%;

}

.listsection{
  display:flex;
}

.section{
  text-align: left;
  font-family: 'adrianna-extended';
  font-style: sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 23pt;
  margin-right: 144px;
  margin-left: 40px;
  width: 10%;
}

#kanyebooks{
  margin-right: 6%;
}

#kanyebooklist{
  width:64%;
}

.list{
  font-family: 'Agrandir Grand Light';
  font-size: 30pt;
  margin-bottom: 136px;
  text-align: left;
  width:65%;
}

.list li{
  margin-bottom: 20px;
}

.list a{
  color:white;
  text-decoration: none;
}

.list a:visted{
  color:white;
}

.list a:hover{
  font-family: 'Agrandir Grand Heavy';
  font-size: 28pt;
}

.comment {
  color:white;
  position: relative;
}

.comment div {
  /*visiblity: hidden; */

  display: none;
  position: absolute;
  top: 0;
  left:100%;
  margin-top: -30px; /* approx adjustment for arrow */
  margin-left: 25px; /* approx adjustment for arrow */
}

.comment a:hover + div {
  cursor: pointer;
  display: block;
  /*visibility: visible; */
  width: 180px;
  line-height: 20px;
  padding: 8px;
  font-size: 20px;
  text-align: center;
  z-index: 999;
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 5px;
  -webkit-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}

.comment div:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #FFFFFF transparent transparent;
  top: 22px;
  left: -23px;
}
